@font-face {
    font-family: "aktiv-grotesk";
    src: url(../fonts/AktivGrotesk-Regular.ttf);
}
@font-face {
    font-family: "Walsheim";
    src: url(../fonts/GTWalsheimPro-Medium.ttf);
}

.main_logo{
    margin-top:20px;
    margin-left:15px;
    width:23px;
    height:23px;
}
.navbar{
    width:100%;
    height:65px;
    position:fixed;
    z-index:1;
    display:flex;
    background-color: #ffffff;
    border-bottom: 0.1px solid grey;
}
.options{
    margin-top:20px;
    margin-left:15px;
    display:flex;
    gap:35px;
    /* justify-content: center; */
    width:50%;
    /* background-color:green; */
    height:40px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.inside_dropdown{
    padding:10px;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 200px;
    padding:10px;
    /* margin-top:8px; */
    /* margin-bottom:20px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    .dropdown-content a {
        /* opacity:1; */
    /* margin-left:10px; */
    /* margin-top:5px; */
    color: black;
    font-weight: 50;
    font-size:0.900rem;
    /* padding: 12px 16px; */
   
    text-decoration: none;
    display: block;
    margin-left:10px;
    font-family: sans-serif;
  
    }
    .dropdown_title{
        margin-top: 2px;
        line-height:21px;
        color:black;
        font-weight:500;
        font-size:16px;
        position:relative;
        cursor:pointer;
    }
    .dropdown_title a{
        color:black;
        text-decoration: none;
        position:relative;
    }
    .dropdown_title a:hover{
     color:#0e0d0de2;
    }
    .desc{
        /* margin-left:10px; */
        color:black;
        font-weight:400;
        font-size:0.875rem;
        position:relative;
        cursor:pointer;
        text-align: left;

    }
    .Pricing{
        display: block;
        margin-top: 2px;
        margin-right: -20px;
        line-height:21px;
        color:black;
        font-weight:500;
        font-size:16px;
        position:relative;
        cursor:pointer;
        text-decoration: none;
    }
    .P:hover{
        text-decoration: none;
    }
    .right_flex{
        margin-top:20px;
        /* margin-left:66%; */
        margin-left:10px;
        gap:15px;
        display:flex;
        flex-direction: row;
        /* justify-content: center; */
        /* width:44%; */
        width:45%;
        /* background-color:pink; */
        height:40px;
    }
.search{
    /* border: 1px solid black; */
}
    #search-box{
        vertical-align: top;
        /* width: 250px; */
        width:16rem;
        height: 40px;
        padding-left: 35px;
        margin-left: 300px;
        margin-right: 40px;
        margin-top: -8px;
       border-radius: 20px;      
       outline:none;
       border: none;
       background-color: #efefef;
     }
     .login-btn{
         display: block;
         font-size: 16px;
         text-decoration: none;
         margin-top: 3px;
         font-family: sans-serif;
         color: black;
         margin-right: 8px;
         width: 80px;
      }
      .logout-btn{
        display: block;
        font-size: 16px;
        text-decoration: none;
        margin-top: 3px;
        font-family: sans-serif;
        color: black;
        margin-right: 8px;
        min-width: 80px;
        cursor: pointer;
      }
     .create{
         display:inline-block;
         background-color:#ff424d;
         border-radius:9999px;
         color:#fff;
         font-weight:500;
         border: 2px solid transparent;
         line-height:2.2;
         padding:4px 6px;
         font-size:0.975 rem !important;
         cursor:pointer;
         margin-top:-11px;
         margin-bottom:8px;
         width:150px;
         /* margin-left:30px; */
         text-align:center;
         cursor: pointer;
     }
     .create:hover{
         background-color: white;
         color: #ff424d;
         border: 3px solid #ff424d;
     }


     .drop{
         margin-top:-15px;
         margin-left:65px;
         display:flex;
         flex-direction: row;
         position: absolute;
     }
     .drop-1{
        margin-top:-15px;
        margin-left:95px;
        display:flex;
        flex-direction: row;
        position: absolute;
    }
    .drop-2{
        margin-top:-15px;
        margin-left:75px;
        display:flex;
        flex-direction: row;
        position: absolute;
    }
    .search-icon{
        position: absolute;
        display: block;
        margin-left:310px;
        margin-top: 3px;
    }
     .create a:hover{outline:black;}
     .inside_dropdown, .navbar a:hover{text-decoration: none;}
    .dropdown-content a:hover {background-color: #fff; font-weight:400}

    .dropdown:hover .dropdown-content {display: block;}

    .search_box{
       box-shadow:  2px 3px 5px #999;
        box-sizing: border-box;
        margin-top: 5px;
        width: 220px;
        position: absolute;
        margin-left: 320px;
        z-index: -1;
        min-height: fit-content;
        max-height: 400px;
        overflow-y: scroll;
        background-color: white;
        text-decoration: none;
    }
    .search_box::-webkit-scrollbar{
        display: none;
    }
    .search_box_card{
        display: flex;
        border-top: 0.5px solid rgb(213, 213, 213);
        text-decoration: none;
    }

    
    .search_box_card div{
        margin:5px;
    }
    .search_box_card_img{
       max-width: 60px;
    }
    .search_box_card_img img{
        width: 60%;

        border-radius: 50%;
    }
    .search_box_card_name_navbar{
        display: block;
        font-family: "aktiv-grotesk";
        font-size: 13px;
        line-height: 21px;
        font-weight: 700;
        text-align: left;
        color: black;
    }

    .search_box_card_description{
        display: block;
        font-family: "aktiv-grotesk";
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        color: rgb(112, 108, 100);
        text-align: left;
        text-decoration: none;
    }
    .search_box_card:hover{
        color: red !important;
        text-decoration: none;        
    }
.atag_decoration{
    text-decoration: none;
}

.div_circle_icon_navbar{   
    display: block;
    border: 4px solid rgb(255, 255, 255);
    /* border-radius: 50%; */
    background-clip: padding-box;    
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -12px;
    width:40px;
    height:40px;
    margin-left:50px;
    border-radius:100%;
    background-image:url("https://static.showit.co/1600/KY4rr175TueWGUoP7Xv_XA/128788/professional_branding_mens_portraits_frisco_texas_korey_howell_photography_group_corporate.jpg");
    cursor: pointer;
}
  